In [1]:
import pandas as pd
import sqlite3
import plotly.express as px
from tqdm import tqdm
conn = sqlite3.connect("data/database.db")

In [2]:
df = pd.read_sql_query("SELECT * FROM price_data", conn)

In [3]:
df

,date,ticker,close,high,low,open,volume,garman_klass_vol,rsi,bb_low,...,return_2m,return_3m,return_6m,return_9m,return_12m,Mkt-RF,SMB,HML,RMW,CMA
0,2014-02-07 00:00:00,A,42.503578,42.539341,41.580830,41.816879,2749586.0,-0.001749,56.320270,3.636126,...,0.017178,0.009198,-0.000252,0.002117,-0.002089,-0.018337,-0.034140,0.027267,0.015874,0.027903
1,2014-02-07 00:00:00,AAL,35.669998,35.700001,34.650002,34.810001,15404700.0,-0.000016,83.448614,3.295002,...,0.027290,0.015614,0.009015,0.018744,0.011220,0.002699,-0.284824,0.101768,-0.110187,-0.017601
2,2014-02-07 00:00:00,AAPL,18.559999,18.676071,18.477858,18.620714,370280400.0,-0.006744,44.058852,2.786732,...,0.009901,0.009090,0.007530,-0.005722,-0.004447,0.054182,0.006107,-0.033355,0.143762,0.194969
3,2014-02-07 00:00:00,ABBV,48.889999,49.029999,47.660000,48.000000,6979500.0,-0.064962,46.153403,3.442998,...,0.012079,0.006492,0.001991,0.004795,-0.000323,0.058885,0.079770,-0.099024,0.210362,-0.056104
4,2014-02-07 00:00:00,ABT,37.180000,37.209999,36.650002,36.770000,12028000.0,-0.014031,46.146427,3.383648,...,0.011352,0.008480,0.002944,0.002665,-0.001969,-0.025794,0.060281,-0.029739,0.135113,-0.039637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211817,2023-12-29 00:00:00,XYL,114.360001,114.680000,113.930000,114.089996,698900.0,0.000018,75.881258,4.647615,...,-0.000087,0.002166,0.007004,0.003601,0.004826,-0.048369,0.035832,0.072553,0.190034,-0.044060
1211818,2023-12-29 00:00:00,YUM,130.660004,131.250000,130.210007,130.410004,1196800.0,0.000007,59.338363,4.814819,...,-0.000688,0.001023,0.002082,0.001733,0.001670,-0.047116,-0.036280,0.126013,0.111287,-0.120871
1211819,2023-12-29 00:00:00,ZBH,121.699997,122.400002,121.239998,121.459999,849600.0,0.000044,68.767234,4.749500,...,0.002350,0.000768,0.002680,0.003009,0.003133,0.000382,0.147789,-0.207187,-0.012108,0.104853
1211820,2023-12-29 00:00:00,ZBRA,273.329987,276.309998,272.769989,274.730011,251300.0,0.000073,67.914673,5.415905,...,-0.004470,-0.002632,0.007331,0.001289,0.011114,-0.048349,0.153712,0.034179,0.262459,0.011935
1211821,2023-12-29 00:00:00,ZTS,197.369995,198.009995,196.250000,196.679993,1007200.0,0.000034,66.791325,5.179002,...,0.001193,0.003178,0.002333,0.000610,0.002532,0.017286,0.068201,-0.040616,0.175070,-0.046897

In [5]:
df

,date,ticker,close,high,low,open,volume,garman_klass_vol,rsi,bb_low,...,return_2m,return_3m,return_6m,return_9m,return_12m,Mkt-RF,SMB,HML,RMW,CMA
0,2014-02-07 00:00:00,A,42.503578,42.539341,41.580830,41.816879,2749586.0,-0.001749,56.320270,3.636126,...,0.017178,0.009198,-0.000252,0.002117,-0.002089,-0.018337,-0.034140,0.027267,0.015874,0.027903
1,2014-02-07 00:00:00,AAL,35.669998,35.700001,34.650002,34.810001,15404700.0,-0.000016,83.448614,3.295002,...,0.027290,0.015614,0.009015,0.018744,0.011220,0.002699,-0.284824,0.101768,-0.110187,-0.017601
2,2014-02-07 00:00:00,AAPL,18.559999,18.676071,18.477858,18.620714,370280400.0,-0.006744,44.058852,2.786732,...,0.009901,0.009090,0.007530,-0.005722,-0.004447,0.054182,0.006107,-0.033355,0.143762,0.194969
3,2014-02-07 00:00:00,ABBV,48.889999,49.029999,47.660000,48.000000,6979500.0,-0.064962,46.153403,3.442998,...,0.012079,0.006492,0.001991,0.004795,-0.000323,0.058885,0.079770,-0.099024,0.210362,-0.056104
4,2014-02-07 00:00:00,ABT,37.180000,37.209999,36.650002,36.770000,12028000.0,-0.014031,46.146427,3.383648,...,0.011352,0.008480,0.002944,0.002665,-0.001969,-0.025794,0.060281,-0.029739,0.135113,-0.039637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1211817,2023-12-29 00:00:00,XYL,114.360001,114.680000,113.930000,114.089996,698900.0,0.000018,75.881258,4.647615,...,-0.000087,0.002166,0.007004,0.003601,0.004826,-0.048369,0.035832,0.072553,0.190034,-0.044060
1211818,2023-12-29 00:00:00,YUM,130.660004,131.250000,130.210007,130.410004,1196800.0,0.000007,59.338363,4.814819,...,-0.000688,0.001023,0.002082,0.001733,0.001670,-0.047116,-0.036280,0.126013,0.111287,-0.120871
1211819,2023-12-29 00:00:00,ZBH,121.699997,122.400002,121.239998,121.459999,849600.0,0.000044,68.767234,4.749500,...,0.002350,0.000768,0.002680,0.003009,0.003133,0.000382,0.147789,-0.207187,-0.012108,0.104853
1211820,2023-12-29 00:00:00,ZBRA,273.329987,276.309998,272.769989,274.730011,251300.0,0.000073,67.914673,5.415905,...,-0.004470,-0.002632,0.007331,0.001289,0.011114,-0.048349,0.153712,0.034179,0.262459,0.011935
1211821,2023-12-29 00:00:00,ZTS,197.369995,198.009995,196.250000,196.679993,1007200.0,0.000034,66.791325,5.179002,...,0.001193,0.003178,0.002333,0.000610,0.002532,0.017286,0.068201,-0.040616,0.175070,-0.046897

In [10]:
sorted(df.columns)

['CMA',
 'HML',
 'Mkt-RF',
 'RMW',
 'SMB',
 'atr',
 'bb_high',
 'bb_low',
 'bb_mid',
 'close',
 'date',
 'dollar_volume',
 'garman_klass_vol',
 'high',
 'low',
 'macd',
 'open',
 'return_12m',
 'return_1m',
 'return_2m',
 'return_3m',
 'return_6m',
 'return_9m',
 'rsi',
 'sharpe_ratio',
 'ticker',
 'volume']

In [12]:
df[df["ticker"]=="AES"][["date","close","return_1m"]]

                        date      close  return_1m
14       2014-02-07 00:00:00  14.060000   0.007163
479      2014-02-10 00:00:00  14.050000  -0.000712
944      2014-02-11 00:00:00  14.330000   0.019929
1409     2014-02-12 00:00:00  14.310000  -0.001396
1874     2014-02-13 00:00:00  14.490000   0.012579
...                      ...        ...        ...
1209357  2023-12-22 00:00:00  19.100000   0.013263
1209853  2023-12-26 00:00:00  19.360001   0.013612
1210349  2023-12-27 00:00:00  19.280001  -0.004132
1210845  2023-12-28 00:00:00  19.350000   0.003631
1211341  2023-12-29 00:00:00  19.250000  -0.005168

[2491 rows x 3 columns]

In [14]:
14.310000/14.330000	-1

-0.0013956734124214165

In [9]:
df[df["sharpe_ratio"]>=1].sort_values("date", ascending = False)

,date,ticker,close,high,low,open,volume,garman_klass_vol,rsi,bb_low,...,return_2m,return_3m,return_6m,return_9m,return_12m,Mkt-RF,SMB,HML,RMW,CMA
1211737,2023-12-29 00:00:00,SNPS,514.909973,518.390015,510.739990,516.619995,769200.0,0.000106,44.933315,6.232284,...,-0.003083,-0.003433,-0.011442,-0.008548,-0.008007,0.019652,0.002203,0.023736,0.111313,0.108324
1211514,2023-12-29 00:00:00,FICO,1164.010010,1176.219971,1155.270020,1168.099976,97000.0,0.000157,68.921935,7.012317,...,-0.002823,-0.000175,0.001274,0.003322,0.000344,-0.030318,0.105178,-0.016512,0.190837,0.022719
1211370,2023-12-29 00:00:00,AVGO,111.625000,112.438004,111.467003,112.146004,20558000.0,-0.000019,67.362296,4.476240,...,-0.004414,-0.004627,0.000879,-0.000825,0.003738,-0.005443,0.021796,0.024744,0.163193,-0.067155
1211404,2023-12-29 00:00:00,CARR,57.450001,57.848999,57.250000,57.419998,1501800.0,0.000042,61.089324,3.965988,...,-0.002860,0.000058,0.004270,0.000604,0.001921,0.078159,-0.028538,0.111538,-0.048187,-0.169961
1211411,2023-12-29 00:00:00,CDNS,272.369995,274.709991,270.859985,273.440002,818600.0,0.000094,56.702448,5.557944,...,-0.004141,-0.003150,0.000970,0.000347,-0.000567,0.056445,-0.077377,0.070728,0.001240,0.010844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,2014-02-07 00:00:00,NVDA,0.396750,0.397250,0.388500,0.392000,157248000.0,-0.000580,52.077845,0.307648,...,0.013829,0.006166,0.001584,0.002913,-0.000836,0.003221,-0.003549,0.097241,0.084613,0.035594
343,2014-02-07 00:00:00,PGR,23.129999,23.200001,22.940001,23.080000,3135400.0,-0.023675,35.751974,2.912656,...,0.011658,0.007460,-0.003065,-0.000240,-0.002657,0.045714,-0.042912,0.040876,0.068632,-0.053373
373,2014-02-07 00:00:00,RSG,33.400002,33.830002,32.000000,32.000000,7275000.0,-0.009070,63.557458,3.274737,...,0.023895,0.019064,0.006065,0.004456,0.002665,-0.019709,-0.063624,0.043151,0.021401,-0.002631
384,2014-02-07 00:00:00,SNPS,39.770000,39.770000,39.209999,39.270000,396900.0,0.000039,46.583462,3.676126,...,0.010083,0.005594,-0.003109,0.000757,-0.003141,0.019652,0.002203,0.023736,0.111313,0.108324
42,2014-02-07 00:00:00,AVGO,5.657000,5.684000,5.513000,5.547000,17039000.0,-0.025968,60.441918,1.602877,...,0.023709,0.015556,0.004550,0.004253,-0.000850,-0.005443,0.021796,0.024744,0.163193,-0.067155