In [1]:
from getpass import getpass
import os

REPLICATE_API_TOKEN = getpass()

In [2]:
from langchain_community.llms import Replicate
llm = Replicate(
    model="meta/meta-llama-3-8b-instruct",
    model_kwargs={"temperature": 0.0, "top_p": 1, "max_new_tokens":500}
)

In [3]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///data/database.db", sample_rows_in_table_info=0)

def get_schema():
    return db.get_table_info()

In [4]:
question = "Which is the max close price for APPL ticker?"
prompt = f"""Based on the table schema below, write a SQL query that would answer the user's question; just return the SQL query and nothing else.

Scheme:
{get_schema()}

Question: {question}

SQL Query:"""

print(prompt)

Based on the table schema below, write a SQL query that would answer the user's question; just return the SQL query and nothing else.

Scheme:

CREATE TABLE master_ticker (
	"index" INTEGER,
	ticker TEXT,
	"Security" TEXT,
	"GICS Sector" TEXT,
	"GICS Sub-Industry" TEXT,
	"Headquarters Location" TEXT,
	"Date added" TEXT,
	"CIK" INTEGER,
	"Founded" TEXT
)


CREATE TABLE price_data (
	date TIMESTAMP,
	ticker TEXT,
	close REAL,
	high REAL,
	low REAL,
	open REAL,
	volume REAL,
	garman_klass_vol REAL,
	rsi REAL,
	bb_low REAL,
	bb_mid REAL,
	bb_high REAL,
	sharpe_ratio REAL,
	atr REAL,
	macd REAL,
	dollar_volume REAL,
	return_1m REAL,
	return_2m REAL,
	return_3m REAL,
	return_6m REAL,
	return_9m REAL,
	return_12m REAL,
	"Mkt-RF" REAL,
	"SMB" REAL,
	"HML" REAL,
	"RMW" REAL,
	"CMA" REAL
)

Question: Which is the max close price for APPL ticker?

SQL Query:

In [5]:
answer = llm.invoke(prompt)
print(answer)

SELECT MAX(close)
FROM price_data
WHERE ticker = 'APPL';

In [1]:
print(db.get_usable_table_names())
print(db.run("SELECT * FROM price_data limit 100;"))

NameError: name 'db' is not defined

In [7]:
print(db.run(answer))

[(None,)]